<h3><%= table_name %></h3>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Creator
    </th>
    <th>
      Location
    </th>
  </tr>

  <% events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event %>
      </td>
      <td>
        <%= link_to event.creator.fullname, event.creator %>
      </td>
      <td>
        <%= event.location %>
      </td>
    </tr>
  <% end %>
</table>
